In [2]:
import numpy as np  # linear algebra
import pandas as pd  # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
import os
from sklearn.model_selection import train_test_split
from geopy.geocoders import Nominatim
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
import lightgbm as lgb
import xgboost as xgb
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
color = sns.color_palette()
pd.options.mode.chained_assignment = None  # default='warn'

In [4]:
df = pd.read_csv("experiment.csv")

In [5]:
df

    BOROUGH              NEIGHBORHOOD  ...      AREA            FINAL_ADDRESS
0         3  FLATBUSH-LEFFERTS GARDEN  ...  brooklyn    625 ROGERS AVENUE NYC
1         4              HOWARD BEACH  ...    queens   85-11 164TH AVENUE NYC
2         4                   BAYSIDE  ...    queens     215-29 23RD ROAD NYC
3         2                 WAKEFIELD  ...     bronx  1800 BUSSING AVENUE NYC
4         4                   ASTORIA  ...    queens    22-45 47TH STREET NYC
..      ...                       ...  ...       ...                      ...
93        3                  BUSHWICK  ...  brooklyn          42 GROVE ST NYC
94        3             EAST NEW YORK  ...  brooklyn     1102 ELDERT LANE NYC
95        3               BROWNSVILLE  ...  brooklyn  553 CHRISTOPHER AVE NYC
96        3                  BUSHWICK  ...  brooklyn       416 WILSON AVE NYC
97        4                    HOLLIS  ...    queens   90-65 207TH STREET NYC

[98 rows x 21 columns]

In [49]:
example1 = "api-key_geocoding.txt"
file1 = open(example1, "r")

In [50]:
API_KEY = file1.read()

In [12]:
import json
import urllib.request

In [14]:
GEOCODE_BASE_URL = "https://maps.googleapis.com/maps/api/geocode/json"

In [13]:
def geocode(address):
    # Join the parts of the URL together into one string.
    params = urllib.parse.urlencode({"address": address, "key": API_KEY,})
    url = f"{GEOCODE_BASE_URL}?{params}"

    result = json.load(urllib.request.urlopen(url))

    if result["status"] in ["OK", "ZERO_RESULTS"]:
        return result["results"]

    raise Exception(result["error_message"])

In [51]:
results = geocode(address="625 ROGERS AVENUE NYC")

In [52]:
lat = results[0]["geometry"]["location"]['lat']
lng = results[0]["geometry"]["location"]['lng']

In [53]:
print(lat)
print(lng)

40.6563206
-73.9528586

In [25]:
results = geocode(address="42 GROVE ST NYC")

In [26]:
lat = results[0]["geometry"]["location"]['lat']
lng = results[0]["geometry"]["location"]['lng']

In [27]:
print(lat)
print(lng)

40.7326259
-74.00432839999999

In [36]:
df_5 = df.head(5)

In [37]:
df_5

   BOROUGH              NEIGHBORHOOD  ...        lat        lng
0        3  FLATBUSH-LEFFERTS GARDEN  ...  40.716975 -73.754915
1        4              HOWARD BEACH  ...  40.716975 -73.754915
2        4                   BAYSIDE  ...  40.716975 -73.754915
3        2                 WAKEFIELD  ...  40.716975 -73.754915
4        4                   ASTORIA  ...  40.716975 -73.754915

[5 rows x 23 columns]

In [44]:
for index,row in df.iterrows():
    final_address = row['FINAL_ADDRESS']
    results = geocode(address=final_address)
    df['lat'][index] = results[0]["geometry"]["location"]['lat']
    df['lng'][index] = results[0]["geometry"]["location"]['lng']

In [45]:
df

    BOROUGH              NEIGHBORHOOD  ...        lat        lng
0         3  FLATBUSH-LEFFERTS GARDEN  ...  40.656321 -73.952859
1         4              HOWARD BEACH  ...  40.650046 -73.844749
2         4                   BAYSIDE  ...  40.782845 -73.774405
3         2                 WAKEFIELD  ...  40.894052 -73.848705
4         4                   ASTORIA  ...  40.768648 -73.902715
..      ...                       ...  ...        ...        ...
93        3                  BUSHWICK  ...  40.732626 -74.004328
94        3             EAST NEW YORK  ...  40.662616 -73.861378
95        3               BROWNSVILLE  ...  40.658204 -73.902627
96        3                  BUSHWICK  ...  40.693824 -73.913995
97        4                    HOLLIS  ...  40.716975 -73.754915

[98 rows x 23 columns]

In [54]:
df.to_csv('experiment_with_lat_and_lng.csv', index=False)