In [ ]:
import numpy as np  # linear algebra
import pandas as pd  # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
import os
from sklearn.model_selection import train_test_split
from geopy.geocoders import Nominatim
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
import lightgbm as lgb
import xgboost as xgb
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
color = sns.color_palette()
pd.options.mode.chained_assignment = None  # default='warn'

In [ ]:
df_lat_lng_cofe_travel_agency = pd.read_csv("experiment_lat_lng_cofe_travel_agency.csv")

In [ ]:
df_lat_lng_cofe_travel_agency.head(2)

   BOROUGH  ... num_travel_agency_2000_meters
0        3  ...                             3
1        4  ...                             0

[2 rows x 26 columns]

In [ ]:
df_lat_lng_cofe = pd.read_csv("experiment_with_lat_and_lng_and_num_cofe.csv")

In [ ]:
df_lat_lng_cofe.head(2)

In [ ]:
cat = ['NEIGHBORHOOD', 'BUILDING CLASS CATEGORY', 'BUILDING CLASS AS OF FINAL ROLL 18/19', 'ADDRESS',
           'BUILDING CLASS AT TIME OF SALE', 'SALE DATE', 'AREA', 'FINAL_ADDRESS']

for col in cat:
    lb = LabelEncoder()
    df_lat_lng_cofe_travel_agency[col] = lb.fit_transform(df_lat_lng_cofe_travel_agency[col].values)

df_lat_lng_cofe_travel_agency['TAX CLASS AS OF FINAL ROLL 18/19'] = df_lat_lng_cofe_travel_agency['TAX CLASS AS OF FINAL ROLL 18/19']\
    .map({'2A': 2, '1': 1, '4': 4})

In [ ]:
cat = ['NEIGHBORHOOD', 'BUILDING CLASS CATEGORY', 'BUILDING CLASS AS OF FINAL ROLL 18/19', 'ADDRESS',
           'BUILDING CLASS AT TIME OF SALE', 'SALE DATE', 'AREA', 'FINAL_ADDRESS']

for col in cat:
    lb = LabelEncoder()
    df_lat_lng_cofe[col] = lb.fit_transform(df_lat_lng_cofe[col].values)

df_lat_lng_cofe['TAX CLASS AS OF FINAL ROLL 18/19'] = df_lat_lng_cofe['TAX CLASS AS OF FINAL ROLL 18/19']\
    .map({'2A': 2, '1': 1, '4': 4})

In [ ]:
for col in cat:
    minmax = MinMaxScaler()
    df_lat_lng_cofe_travel_agency[col] = minmax.fit_transform(df_lat_lng_cofe_travel_agency[col].values.reshape(-1, 1))

In [ ]:
for col in cat:
    minmax = MinMaxScaler()
    df_lat_lng_cofe[col] = minmax.fit_transform(df_lat_lng_cofe[col].values.reshape(-1, 1))

In [ ]:
df_train, df_test = train_test_split(df_lat_lng_cofe_travel_agency, test_size=0.2, random_state=42, shuffle=True)
train_target = df_train['SALE PRICE']
train = df_train.drop(['SALE PRICE'], axis=1)
test_target = df_test['SALE PRICE']
test = df_test.drop(['SALE PRICE'], axis=1)

In [ ]:
rf = RandomForestRegressor(n_estimators=300, verbose=True, max_depth=20, n_jobs=-1)
rf.fit(train, train_target)
res_pred = rf.predict(test)
rms = np.sqrt(mean_squared_error(test_target, res_pred))
print("RMS: %f" % rms)

[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  46 tasks      | elapsed:    0.1s
[Parallel(n_jobs=-1)]: Done 196 tasks      | elapsed:    0.3s
[Parallel(n_jobs=-1)]: Done 300 out of 300 | elapsed:    0.4s finished

RMS: 329506.267223

[Parallel(n_jobs=2)]: Using backend ThreadingBackend with 2 concurrent workers.
[Parallel(n_jobs=2)]: Done  46 tasks      | elapsed:    0.0s
[Parallel(n_jobs=2)]: Done 196 tasks      | elapsed:    0.0s
[Parallel(n_jobs=2)]: Done 300 out of 300 | elapsed:    0.1s finished

In [ ]:
df_train, df_test = train_test_split(df_lat_lng_cofe, test_size=0.2, random_state=42, shuffle=True)
train_target = df_train['SALE PRICE']
train = df_train.drop(['SALE PRICE'], axis=1)
test_target = df_test['SALE PRICE']
test = df_test.drop(['SALE PRICE'], axis=1)

In [ ]:
rf = RandomForestRegressor(n_estimators=300, verbose=True, max_depth=20, n_jobs=-1)
rf.fit(train, train_target)
res_pred = rf.predict(test)
rms = np.sqrt(mean_squared_error(test_target, res_pred))
print("RMS: %f" % rms)

[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  46 tasks      | elapsed:    0.1s
[Parallel(n_jobs=-1)]: Done 196 tasks      | elapsed:    0.3s
[Parallel(n_jobs=-1)]: Done 300 out of 300 | elapsed:    0.4s finished

RMS: 320172.614918

[Parallel(n_jobs=2)]: Using backend ThreadingBackend with 2 concurrent workers.
[Parallel(n_jobs=2)]: Done  46 tasks      | elapsed:    0.0s
[Parallel(n_jobs=2)]: Done 196 tasks      | elapsed:    0.0s
[Parallel(n_jobs=2)]: Done 300 out of 300 | elapsed:    0.1s finished