In [2]:
import numpy as np  # linear algebra
import pandas as pd  # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
import os
from sklearn.model_selection import train_test_split
from geopy.geocoders import Nominatim
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
import lightgbm as lgb
import xgboost as xgb
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
color = sns.color_palette()
pd.options.mode.chained_assignment = None  # default='warn'

In [3]:
df = pd.read_csv("experiment.csv")

In [4]:
df

    BOROUGH              NEIGHBORHOOD  ...      AREA            FINAL_ADDRESS
0         3  FLATBUSH-LEFFERTS GARDEN  ...  brooklyn    625 ROGERS AVENUE NYC
1         4              HOWARD BEACH  ...    queens   85-11 164TH AVENUE NYC
2         4                   BAYSIDE  ...    queens     215-29 23RD ROAD NYC
3         2                 WAKEFIELD  ...     bronx  1800 BUSSING AVENUE NYC
4         4                   ASTORIA  ...    queens    22-45 47TH STREET NYC
..      ...                       ...  ...       ...                      ...
93        3                  BUSHWICK  ...  brooklyn          42 GROVE ST NYC
94        3             EAST NEW YORK  ...  brooklyn     1102 ELDERT LANE NYC
95        3               BROWNSVILLE  ...  brooklyn  553 CHRISTOPHER AVE NYC
96        3                  BUSHWICK  ...  brooklyn       416 WILSON AVE NYC
97        4                    HOLLIS  ...    queens   90-65 207TH STREET NYC

[98 rows x 21 columns]

In [ ]:
# split the data into train and test set
df_train, df_test = train_test_split(df_data, test_size=0.3, random_state=42, shuffle=True)