In [3]:
import numpy as np  # linear algebra
import pandas as pd  # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
import os
from sklearn.model_selection import train_test_split
from geopy.geocoders import Nominatim
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
import lightgbm as lgb
import xgboost as xgb
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
color = sns.color_palette()
pd.options.mode.chained_assignment = None  # default='warn'

In [2]:
df = pd.read_csv("experiment_with_lat_and_lng.csv")

In [4]:
df.head(2)

   BOROUGH              NEIGHBORHOOD  ...        lat        lng
0        3  FLATBUSH-LEFFERTS GARDEN  ...  40.656321 -73.952859
1        4              HOWARD BEACH  ...  40.650046 -73.844749

[2 rows x 23 columns]

In [6]:
example1 = "api-key_geocoding.txt"
file1 = open(example1, "r")

In [7]:
API_KEY = file1.read()

In [8]:
import json
import urllib.request

In [9]:
GEOCODE_BASE_URL = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"

In [ ]:
lat = 
lng = 
location = lat,lng
radius = 1500
type = restaurant
keyword = cruise
key = API_KEY

In [ ]:
query_result = google_places.nearby_search(
        lat_lng={'lat': 52.0737017, 'lng': 5.0944107999999915}, 
        radius=100,
        types=[types.TYPE_RESTAURANT] or [types.TYPE_CAFE])

In [ ]:
def geoplace(location):
    # Join the parts of the URL together into one string.
    params = urllib.parse.urlencode({"location": location, "radius": radius, "type": type, "keyword": keyword, "key": API_KEY,})
    url = f"{GEOCODE_BASE_URL}?{params}"

    result = json.load(urllib.request.urlopen(url))

    if result["status"] in ["OK", "ZERO_RESULTS"]:
        return result["results"]

    raise Exception(result["error_message"])