In [2]:
import numpy as np  # linear algebra
import pandas as pd  # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
import os
from sklearn.model_selection import train_test_split
from geopy.geocoders import Nominatim
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
import lightgbm as lgb
import xgboost as xgb
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
color = sns.color_palette()
pd.options.mode.chained_assignment = None  # default='warn'

In [3]:
df = pd.read_csv("experiment_with_lat_and_lng_and_num_cofe.csv")

In [4]:
df.head(2)

   BOROUGH              NEIGHBORHOOD  ... num_cafe_1000_meters num_cafe_500_meters
0        3  FLATBUSH-LEFFERTS GARDEN  ...                   20                   8
1        4              HOWARD BEACH  ...                    2                   0

[2 rows x 25 columns]

In [5]:
example1 = "api-key_geocoding.txt"
file1 = open(example1, "r")

In [6]:
API_KEY = file1.read()

In [7]:
import json
import urllib.request

In [8]:
URL_near_by_search = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

In [9]:
def get_near_by_search(lat, lng, radius):
    location = f"{lat},{lng}"
    radius = radius
    # Join the parts of the URL together into one string.
    params = urllib.parse.urlencode(
         {
          "query": "shopping mall",
          "opennow": "true",
          "location": location,
          "radius": radius,
          "type": "shopping_mall",
          "key": API_KEY,
        }
    )
    url = f"{URL_near_by_search}?{params}"
    result = json.load(urllib.request.urlopen(url))

    if result["status"] in ["OK", "ZERO_RESULTS"]:
        return result["results"]

    raise Exception(result["error_message"])

In [14]:
results = get_near_by_search(40.650046	, -73.94875689999999, 2000)

In [15]:
print(results)

[{'business_status': 'OPERATIONAL', 'geometry': {'location': {'lat': 40.6457996, 'lng': -73.96163729999999}, 'viewport': {'northeast': {'lat': 40.64715983029149, 'lng': -73.96018616970849}, 'southwest': {'lat': 40.64446186970849, 'lng': -73.96288413029151}}}, 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/shopping-71.png', 'name': 'COLLIER ENTERPRI$E$', 'opening_hours': {'open_now': True}, 'place_id': 'ChIJP89dH4FbwokR2zMhyr_dxP8', 'plus_code': {'compound_code': 'J2WQ+88 New York, NY, USA', 'global_code': '87G8J2WQ+88'}, 'reference': 'ChIJP89dH4FbwokR2zMhyr_dxP8', 'scope': 'GOOGLE', 'types': ['shopping_mall', 'point_of_interest', 'establishment'], 'vicinity': '150 East 19th Street, Brooklyn'}, {'business_status': 'OPERATIONAL', 'geometry': {'location': {'lat': 40.636378, 'lng': -73.962295}, 'viewport': {'northeast': {'lat': 40.6377125802915, 'lng': -73.96107866970848}, 'southwest': {'lat': 40.6350146197085, 'lng': -73.9637766302915}}}, 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/shopping-71.png', 'name': 'The Amazon Shoppe', 'opening_hours': {'open_now': True}, 'photos': [{'height': 1358, 'html_attributions': ['<a href="https://maps.google.com/maps/contrib/117556882014008456058">The Amazon Shoppe</a>'], 'photo_reference': 'CkQ0AAAArrYFLDdJxUr-aJxS3wBHL9gD6BSNF0cr8KZRNL7F6RS4nqpbpMUMEVl-avfFzHLGiK9Vnw66dCZGIYmNgptYZRIQslPnae4HNbEtwvVZyDxX7RoUDvzd2njOylU02qvVTYIkQDAw4oQ', 'width': 2048}], 'place_id': 'ChIJe4D2HqdbwokRsUkic9NWKNo', 'plus_code': {'compound_code': 'J2PQ+H3 New York, NY, USA', 'global_code': '87G8J2PQ+H3'}, 'reference': 'ChIJe4D2HqdbwokRsUkic9NWKNo', 'scope': 'GOOGLE', 'types': ['shopping_mall', 'point_of_interest', 'establishment'], 'vicinity': '585 East 16th Street apt 6F, Brooklyn'}]

In [16]:
len(results)

2

In [30]:
df_5 = df.head(10)

In [ ]:
df_5

In [44]:
ans = []
for index,row in df_5.iterrows():
    lat, lng = row['lat'], row['lng']
    results = get_near_by_search(lat, lng, 3000)
    ans.append(len(results))

In [45]:
print(ans)

[2, 0, 1, 0, 2, 1, 0, 0, 1, 2]

In [48]:
df_5['num_shopping_mall_3000_meters'] = ans

In [49]:
df_5

   BOROUGH  ... num_shopping_mall_3000_meters
0        3  ...                             2
1        4  ...                             0
2        4  ...                             1
3        2  ...                             0
4        4  ...                             2
5        3  ...                             1
6        4  ...                             0
7        4  ...                             0
8        5  ...                             1
9        3  ...                             2

[10 rows x 27 columns]

In [50]:
ans = []
for index,row in df.iterrows():
    lat, lng = row['lat'], row['lng']
    results = get_near_by_search(lat, lng, 3000)
    ans.append(len(results))

In [53]:
df['num_shopping_mall_3000_meters'] = ans

In [57]:
df = df.drop(columns=['num_real_estate_agency_1000_meters'])

In [59]:
df.head(30)

    BOROUGH  ... num_shopping_mall_3000_meters
0         3  ...                             2
1         4  ...                             0
2         4  ...                             1
3         2  ...                             0
4         4  ...                             2
5         3  ...                             1
6         4  ...                             0
7         4  ...                             0
8         5  ...                             1
9         3  ...                             2
10        4  ...                             0
11        5  ...                             0
12        3  ...                             1
13        3  ...                             0
14        4  ...                             0
15        3  ...                             0
16        5  ...                             0
17        4  ...                             0
18        3  ...                             3
19        2  ...                             5
20        2  ...                             4
21        3  ...                             1
22        4  ...                             2
23        3  ...                             0
24        4  ...                             0
25        4  ...                             1
26        5  ...                             1
27        3  ...                             0
28        5  ...                             1
29        4  ...                             0

[30 rows x 26 columns]

In [60]:
df.to_csv('experiment_lat_lng_cofe_shopping_mall.csv', index=False)