In [2]:
import numpy as np  # linear algebra
import pandas as pd  # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
import os
from sklearn.model_selection import train_test_split
from geopy.geocoders import Nominatim
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
import lightgbm as lgb
import xgboost as xgb
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
color = sns.color_palette()
pd.options.mode.chained_assignment = None  # default='warn'

In [3]:
df = pd.read_csv("experiment_with_lat_and_lng_and_num_cofe.csv")

In [4]:
df.head(2)

   BOROUGH              NEIGHBORHOOD  ... num_cafe_1000_meters num_cafe_500_meters
0        3  FLATBUSH-LEFFERTS GARDEN  ...                   20                   8
1        4              HOWARD BEACH  ...                    2                   0

[2 rows x 25 columns]

In [5]:
example1 = "api-key_geocoding.txt"
file1 = open(example1, "r")

In [6]:
API_KEY = file1.read()

In [7]:
import json
import urllib.request

In [8]:
URL_near_by_search = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

In [36]:
def get_near_by_search(lat, lng, radius):
    location = f"{lat},{lng}"
    radius = radius
    # Join the parts of the URL together into one string.
    params = urllib.parse.urlencode(
         {
          "query": "travel agency",
          "opennow": "true",
          "location": location,
          "radius": radius,
          "type": "travel_agency",
          "key": API_KEY,
        }
    )
    url = f"{URL_near_by_search}?{params}"
    result = json.load(urllib.request.urlopen(url))

    if result["status"] in ["OK", "ZERO_RESULTS"]:
        return result["results"]

    raise Exception(result["error_message"])

In [39]:
results = get_near_by_search(40.650046	, -73.94875689999999, 2000)

In [40]:
print(results)

[{'business_status': 'OPERATIONAL', 'geometry': {'location': {'lat': 40.6668313, 'lng': -73.9404284}, 'viewport': {'northeast': {'lat': 40.6680772802915, 'lng': -73.93908911970848}, 'southwest': {'lat': 40.66537931970851, 'lng': -73.9417870802915}}}, 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/generic_business-71.png', 'name': 'Conci LLC', 'opening_hours': {'open_now': True}, 'place_id': 'ChIJizZS3X5bwokRiG0B1UzWLLc', 'plus_code': {'compound_code': 'M385+PR Brooklyn, NY, USA', 'global_code': '87G8M385+PR'}, 'reference': 'ChIJizZS3X5bwokRiG0B1UzWLLc', 'scope': 'GOOGLE', 'types': ['travel_agency', 'point_of_interest', 'establishment'], 'vicinity': '1425 Carroll Street, Brooklyn'}, {'business_status': 'OPERATIONAL', 'geometry': {'location': {'lat': 40.6618083, 'lng': -73.94442699999999}, 'viewport': {'northeast': {'lat': 40.6632336802915, 'lng': -73.94308681970848}, 'southwest': {'lat': 40.6605357197085, 'lng': -73.9457847802915}}}, 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/generic_business-71.png', 'name': 'Executive Flights', 'opening_hours': {'open_now': True}, 'photos': [{'height': 603, 'html_attributions': ['<a href="https://maps.google.com/maps/contrib/105705925870640003191">Executive Flights</a>'], 'photo_reference': 'CkQ0AAAAPO3HL7LpYIC9UlW3FV4IWBTHQTBsaGHZ4LgB6vNwjaf0r4IocsKLP945rLsJvy3nwJW_RDY3YmWmzsjc0Y45mxIQTOABkeMciONBkjHkB2j1FhoUAhwuU50hkpVt3HPTnnEOrF8hw50', 'width': 1073}], 'place_id': 'ChIJ_00rIntbwokR-adSOzne4I4', 'plus_code': {'compound_code': 'M364+P6 Brooklyn, NY, USA', 'global_code': '87G8M364+P6'}, 'rating': 5, 'reference': 'ChIJ_00rIntbwokR-adSOzne4I4', 'scope': 'GOOGLE', 'types': ['travel_agency', 'point_of_interest', 'establishment'], 'user_ratings_total': 5, 'vicinity': '552 East New York Avenue, Brooklyn'}, {'business_status': 'OPERATIONAL', 'geometry': {'location': {'lat': 40.66315400000001, 'lng': -73.9481685}, 'viewport': {'northeast': {'lat': 40.6641883302915, 'lng': -73.94678616970849}, 'southwest': {'lat': 40.6614903697085, 'lng': -73.9494841302915}}}, 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/generic_business-71.png', 'name': 'Obscure New York Travel Guide', 'opening_hours': {'open_now': True}, 'photos': [{'height': 1024, 'html_attributions': ['<a href="https://maps.google.com/maps/contrib/105805448243866886745">Obscure New York Travel Guide</a>'], 'photo_reference': 'CkQ0AAAAznBYL6f_ch4xkHrcvdcrMTBJbgiieEJsmfTNgdgerhG7dqqTEjoky-dyaV_d1kmrhlt6aq6WHPQRMBJsOikpBhIQ5ArENO62bbGySnrkKxtOxhoUAiCgJnDMUi1F_ZIBD56CJffgq-k', 'width': 768}], 'place_id': 'ChIJKfY183BbwokRdlSVgOomviw', 'plus_code': {'compound_code': 'M372+7P New York, NY, USA', 'global_code': '87G8M372+7P'}, 'reference': 'ChIJKfY183BbwokRdlSVgOomviw', 'scope': 'GOOGLE', 'types': ['travel_agency', 'point_of_interest', 'establishment'], 'vicinity': '372 Lefferts Avenue Suite 1, Brooklyn'}]

In [41]:
len(results)

3

In [49]:
df_5 = df.head(20)

In [ ]:
df_5

In [50]:
ans = []
for index,row in df_5.iterrows():
    lat, lng = row['lat'], row['lng']
    results = get_near_by_search(lat, lng, 2000)
    ans.append(len(results))

In [51]:
print(ans)

[3, 0, 0, 2, 7, 4, 2, 2, 1, 1, 2, 0, 3, 0, 2, 9, 0, 0, 2, 0]

In [52]:
df_5['num_travel_agency_2000_meters'] = ans

In [ ]:
df_5

In [54]:
ans = []
for index,row in df.iterrows():
    lat, lng = row['lat'], row['lng']
    results = get_near_by_search(lat, lng, 2000)
    ans.append(len(results))

In [55]:
df['num_travel_agency_2000_meters'] = ans

In [ ]:
df.head(30)

In [57]:
df.to_csv('experiment_lat_lng_cofe_travel_agency.csv', index=False)