In [2]:
import numpy as np  # linear algebra
import pandas as pd  # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
import os
from sklearn.model_selection import train_test_split
from geopy.geocoders import Nominatim
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
import lightgbm as lgb
import xgboost as xgb
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
color = sns.color_palette()
pd.options.mode.chained_assignment = None  # default='warn'

In [3]:
df = pd.read_csv("experiment_with_lat_and_lng_and_num_cofe.csv")

In [ ]:
df.head(2)

In [5]:
example1 = "api-key_geocoding.txt"
file1 = open(example1, "r")

In [6]:
API_KEY = file1.read()

In [7]:
import json
import urllib.request

In [8]:
URL_near_by_search = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

In [9]:
def get_near_by_search(lat, lng, radius):
    location = f"{lat},{lng}"
    radius = radius
    # Join the parts of the URL together into one string.
    params = urllib.parse.urlencode(
         {
          "query": "synagogue",
          "opennow": "true",
          "location": location,
          "radius": radius,
          "type": "synagogue",
          "key": API_KEY,
        }
    )
    url = f"{URL_near_by_search}?{params}"
    result = json.load(urllib.request.urlopen(url))

    if result["status"] in ["OK", "ZERO_RESULTS"]:
        return result["results"]

    raise Exception(result["error_message"])

In [10]:
results = get_near_by_search(40.650046	, -73.94875689999999, 2000)

In [11]:
print(results)

[]

In [12]:
len(results)

0

In [17]:
df_5 = df.head(20)

In [ ]:
df_5

In [19]:
ans = []
for index,row in df_5.iterrows():
    lat, lng = row['lat'], row['lng']
    results = get_near_by_search(lat, lng, 3000)
    ans.append(len(results))

In [20]:
print(ans)

[7, 0, 0, 0, 0, 10, 0, 0, 0, 6, 1, 0, 15, 0, 2, 7, 0, 0, 18, 1]

In [21]:
df_5['num_synagogue_3000_meters'] = ans

In [ ]:
df_5

In [23]:
ans = []
for index,row in df.iterrows():
    lat, lng = row['lat'], row['lng']
    results = get_near_by_search(lat, lng, 3000)
    ans.append(len(results))

In [24]:
df['num_synagogue_3000_meters'] = ans

In [25]:
df.head(30)

    BOROUGH  ... num_synagogue_3000_meters
0         3  ...                         8
1         4  ...                         0
2         4  ...                         0
3         2  ...                         0
4         4  ...                         0
5         3  ...                        10
6         4  ...                         0
7         4  ...                         0
8         5  ...                         1
9         3  ...                         9
10        4  ...                         1
11        5  ...                         0
12        3  ...                        18
13        3  ...                         1
14        4  ...                         2
15        3  ...                         7
16        5  ...                         0
17        4  ...                         0
18        3  ...                        20
19        2  ...                         1
20        2  ...                         0
21        3  ...                        16
22        4  ...                         0
23        3  ...                         5
24        4  ...                         0
25        4  ...                         0
26        5  ...                         3
27        3  ...                         5
28        5  ...                         0
29        4  ...                         2

[30 rows x 26 columns]

In [26]:
df.to_csv('experiment_lat_lng_cofe_synagogue.csv', index=False)