In [11]:
import numpy as np  # linear algebra
import pandas as pd  # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
import os
from sklearn.model_selection import train_test_split
from geopy.geocoders import Nominatim
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
import lightgbm as lgb
import xgboost as xgb
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
color = sns.color_palette()
pd.options.mode.chained_assignment = None  # default='warn'

In [12]:
df = pd.read_csv("data_after_pre_processing.csv")

In [13]:
df

      BOROUGH  ...                FINAL_ADDRESS
0           2  ...  1432 SHAKESPEARE AVENUE NYC
1           4  ...          21-13 24TH ROAD NYC
2           4  ...   215 BEACH 149TH STREET NYC
3           4  ...      131-40 229TH STREET NYC
4           3  ...             705 AVENUE T NYC
...       ...  ...                          ...
8841        4  ...         65-55 77TH PLACE NYC
8842        4  ...      103-06 223RD STREET NYC
8843        3  ...      84 EAST 39TH STREET NYC
8844        2  ...    816 COURTLANDT AVENUE NYC
8845        5  ...       173 GREAVES AVENUE NYC

[8846 rows x 21 columns]

In [25]:
# split the data into train and test set
df_data, df_experiment = train_test_split(df, test_size=0.011, random_state=42, shuffle=True)

In [26]:
print(df_experiment.shape[0])
print(df_experiment.shape[1])

98
21

In [27]:
print(df_data.shape[0])
print(df_data.shape[1])

8748
21

In [31]:
# split the data into train and test set
df_train, df_test = train_test_split(df_data, test_size=0.3, random_state=42, shuffle=True)

In [32]:
print(df_train.shape[0])
print(df_train.shape[1])

6123
21

In [33]:
print(df_test.shape[0])
print(df_test.shape[1])

2625
21

In [34]:
df_experiment.to_csv('experiment.csv', index=False)

In [35]:
df_train.to_csv('train.csv', index=False)

In [36]:
df_test.to_csv('test.csv', index=False)